.rigister{
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
    height: 100vh;
    
   
   
}
.imgpic {

   display: block;
}
.formdata {
    text-align: center; 
    padding: 25px;
    margin-top: 35px;
    background-color: rgb(137, 242, 250);
    height: 70%;
    border-radius: 15px;
    box-shadow:4px 4px 15px rgba(0, 0, 0, 0.4); ;



}
@media (max-width: 800px) {
    .imgpic {
      display: none;
    }
    .formdata{
        height: 80%;
    }
  }